@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Manrope:wght@200..800&display=swap");
@import "../styles/utilities.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-100: rgb(242, 237, 230);
  --base-200: rgb(204, 200, 194);
  --base-250: rgb(179, 167, 152);
  --base-300: rgb(153, 143, 130);
  --base-350: rgb(128, 119, 108);
  --base-400: rgb(102, 95, 86);
  --base-450: rgb(31, 29, 29);
  --base-500: rgb(20, 19, 19);
}

@font-face {
  src: url("/fonts/Druk-SuperItalic.otf");
  font-family: DurkItalic;
}
@font-face {
  src: url("/fonts/DrukTextWide-Bold.otf");
  font-family: DurkBold;
}
@font-face {
  src: url("/fonts/DrukTextWide-BoldItalic.otf");
  font-family: DurkBoldItalic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #0d0c0c;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

html {
  overflow-x: hidden;
  width: 100%;
}

section,
.footer {
  background-color: var(--base-500);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

h1 {
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.05;
}

h2 {
  font-size: 3.5rem;
  font-weight: 550;
  line-height: 1.2;
}

h3 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
}

p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
}

p.md {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.4;
}

p.lg {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
}

p.mono {
  text-transform: uppercase;
  font-family: "DM Mono";
  font-size: 0.9rem;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

p.md.mono {
  font-size: 1rem;
}

p.lg.mono {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  color: var(--base-200);
  border-radius: 0.35rem;
}

span.spacer {
  display: inline-block;
  width: 20rem;
}

.container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  max-width: 2000px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3rem;
    letter-spacing: -0.1rem;
  }

  h2 {
    font-size: 2rem;
    letter-spacing: -0.05rem;
  }

  h3 {
    font-size: 1.5rem;
    letter-spacing: -0.025rem;
  }

  .container {
    padding: 1rem;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}

body.menu-open * {
  pointer-events: none;
}

body.menu-open .menu,
body.menu-open .menu *,
body.menu-open .menu-toggle {
  pointer-events: auto;
}

.preloader {
  height: 100vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}

.preloader .texts-container {
  height: 60px;
}

/* Corner Mask */
.halftone-overlay {
  background-image: url("/elements/halftone.jpg");
  background-size: contain;
  mix-blend-mode: multiply;
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: 10;
}

.mask-left-corner {
  -webkit-mask-image: url("/elements/leftcornerele.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-image: url("/elements/leftcornerele.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
}

.mask-right-corner {
  -webkit-mask-image: url("/elements/right corner ele.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-image: url("/elements/right corner ele.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
}

.bg-ele {
  -webkit-mask-image: url("/elements/bgele.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-image: url("/elements/bgele.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
}

.bg-center {
  -webkit-mask-image: url("/elements/center.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-image: url("/elements/center.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
}

.stroke-text {
  -webkit-text-stroke: 2px #0057ff;
  text-stroke: 2px #0057ff;
  color: transparent;
}
.stroke-text-white {
  -webkit-text-stroke: 2px white;
  text-stroke: 2px white;
  color: transparent;
}
.stroke-text-pink {
  -webkit-text-stroke: 2px rgb(255, 0, 157);
  text-stroke: 2px rgb(255, 0, 157) blue;
  color: transparent;
}
